@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* overflow-y: hidden; */
	color: #ffff;
	font-family: "Open Sans", sans-serif;
	scroll-behavior: smooth;
	user-select: none;
}
.container {
	display: flex;
	justify-content: center;
	justify-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #000000;
}

/* sidebar here  */

.left-sidebar {
	padding-top: 0.5rem;
	display: flex;
	justify-content: flex-start;
	max-width: 25%;
	background-color: #1212;
	padding-left: 2rem;
	margin-right: 2rem;
}

ul {
	list-style-type: none;
	display: flex;
	justify-items: start;
	justify-content: flex-start;
	flex-direction: column;
}

ul > li {
	display: flex;
	justify-items: center;
}

a {
	text-decoration: none;
}

.logo {
	display: flex;
	justify-content: flex-start;
	padding-left: 1rem;
}

.icon {
	margin-top: 0.3rem;
	padding: 0.7rem;
	font-weight: 400;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.8;
}
.icon:hover {
	background-color: #89828223;
	border-radius: 2rem;
	opacity: 1;
}
.logo-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	padding-right: 1rem;
	padding-left: 0.5rem;
}
.text {
	line-height: 1;
}

.post-btn {
	border-color: #00000000;
	background-color: #1d9bf0;
	font-weight: 600;
	padding: 0.5rem 5rem 0.5rem 5rem;
	font-size: 1rem;
	border-radius: 2rem;
	margin-top: 0.5rem;
	cursor: pointer;
}

.post-btn:hover {
	background-color: #1495eb;
}
/* main-content here  */

.main-content {
	padding-top: 0.5rem;
	width: 50%;
	padding-left: 0.7rem;
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
}

/* right-content here */
.right-sidebar {
	padding-top: 0.5rem;
	width: 30%;
	padding-left: 0.7rem;
	display: flex;
	justify-content: center;
}
